<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="RegressionSuite">

	<listeners>
		<listener class-name="com.uiautomation.listeners.Listener"></listener>
	</listeners>

	<test name="my hub spot test chrome" parallel="none" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
		
        <class name="com.uiautomation.Tests.verifyhoteltestEqualExperts"/>
			
			
			
		</classes>
	</test>
</suite> 